.mozilla/
autostart/
Bitwarden/
btop/
chromium/
Code/
Code - OSS/
dconf/
discord/
Electron/
flameshot/
GIMP/
gtk-3.0/
gtk-4.0/
Kvantum/
libresprite/
libvirt/
mako/
micro/
mpv/
obsidian/
octopi/
pulse/
qt5ct/
strawberry/
swaylock/
wlogout/
wofi/
xournalpp/
.dmenurc
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
